django
djangorestframework
django-cors-headers # to connect drf with react
django-filter
pillow # work with images
python-dotenv # for secure data
psycopg2 # server side needed
django-rest-registration # email verification for drf
drf-recaptcha # google recaptcha for registration + login
unidecode #to deal with polish letters in slugs
django-mptt #for a easy use of tree in shop app (easy loop through categories)