.search-btn {
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  border-radius: 15px;
  overflow: hidden;
  padding: 0; // Reset button padding
  border: none; // Reset button border
  svg {
    width: 70%;
    height: 70%;
  }
}
.search-box {
  height: 100%;
}
.search-input {
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
