.loginicon {
  min-width: 40px; 
  text-decoration: none;
  font-weight: bolder;
  color: black;
  height: 40px;
  line-height: 38px;
  text-align: center;
  background: #2bc6ff;
  border-radius: 20px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.loginicon p {
  margin: 0;
  line-height: 1;
}
.loginicon:hover {
  color: white;
}
