.navbar {
  width: 100vw;
  background-color: #24252A;
  height: 60px;
  left: 0px;
  top: 0px;
}

.loginicon {
  min-width: 80px;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  height: 40px;
  line-height: 38px;
  text-align: center;
  background: #2bc6ff;
  border-radius: 24px;
  cursor: pointer;

}

.loginicon:hover {
  color: white;
}